p{
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  margin-top: 4rem;
}


.container-panel {
  width: 100%;

  padding-inline: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8rem; /* Ajusta el espacio según tus necesidades */
}
