<div class="container mx-auto mt-8 p-4 border rounded-lg max-w-8xl sm:max-w-xl md:max-w-3xl lg:max-w-5xl xl:max-w-7xl">
  <h2 class="text-xl font-bold mb-4 text-center">Ofertas y Productos</h2>

  <app-table
    [data]="ofertas"
    [columns]="columns"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
  ></app-table>

  <!-- Modal de Confirmación de Eliminación -->
  <div *ngIf="isModalOpen" class="delete-modal-overlay fixed inset-0 bg-gray-500 bg-opacity-50 flex justify-center items-center z-50">
    <div class="delete-modal-content bg-white p-6 rounded-lg shadow-lg w-96">
      <h3 class="text-xl font-semibold text-center mb-4">¿Está seguro de eliminar este registro?</h3>
      <p class="text-center text-gray-700 mb-6">{{selectedOferta?.nombre_producto || 'Este registro'}}</p>
      <div class="button-group flex justify-around">
        <button (click)="onConfirmDelete()" class="btn-delete px-4 py-2 bg-red-600 text-white font-semibold rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500">
          Eliminar
        </button>
        <button (click)="onCancelDelete()" class="btn-cancel px-4 py-2 bg-gray-300 text-gray-800 font-semibold rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
